{% load static %}

<div class="toast-container bottom-0 end-0 p-3" dir="rtl">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-success">
        <div class="toast-header">
            <img src="{% static 'img/icon/success.svg' %}" width="32" height="32" class="rounded ms-2" alt="...">
            <strong class="me-auto">موفق</strong>
            <button type="button" class="btn-close mx-2" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body-success"></div>
    </div>
</div>

<div class="toast-container bottom-0 end-0 p-3" dir="rtl">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-warning">
        <div class="toast-header">
            <img src="{% static 'img/icon/warning.svg' %}" width="32" height="32" class="rounded ms-2" alt="...">
            <strong class="me-auto">هشدار</strong>
            <button type="button" class="btn-close mx-2" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body-warning"></div>
    </div>
</div>

<div class="toast-container bottom-0 end-0 p-3" dir="rtl">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-danger">
        <div class="toast-header">
            <img src="{% static 'img/icon/danger.svg' %}" width="32" height="32" class="rounded ms-2" alt="...">
            <strong class="me-auto">خطا</strong>
            <button type="button" class="btn-close mx-2" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body-danger"></div>
    </div>
</div>

<div class="toast-container bottom-0 end-0 p-3" dir="rtl">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-info">
        <div class="toast-header">
            <img src="{% static 'img/icon/info.svg' %}" width="32" height="32" class="rounded ms-2" alt="...">
            <strong class="me-auto">توجه</strong>
            <button type="button" class="btn-close mx-2" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body-info"></div>
    </div>
</div>

<div class="toast-container bottom-0 end-0 p-3" dir="rtl">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-upload" data-bs-autohide="false">
        <div class="toast-header">
            <img src="{% static 'img/icon/upload.svg' %}" width="32" height="32" class="rounded ms-2" alt="...">
            <strong class="me-auto">آپلود</strong>
            <button type="button" class="btn-close mx-2" data-bs-dismiss="toast" aria-label="Close" id="close-upload"></button>
        </div>
        <div class="toast-body">
            <div class="progress mt-2" id="progress">
                <div class="progress-bar" role="progressbar" id="progress-bar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>