@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@400;700&display=swap');

body {
    font-family: 'Vazirmatn', sans-serif !important;
    background-color: #fff;
}

h1 {
    font-family: 'Lalezar', sans-serif !important;
    color: #3C4D54;
    text-shadow: -2px 0 #F5C804, 0 2px #F5C804, 2px 0 #F5C804, 0 -2px #F5C804;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}