<!-- login.html -->

{% extends 'base.html' %}

{% block content %}
<section class="vh-100 gradient-custom" dir="rtl">
    <div class="container py-5 h-150">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card card-login text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <form method="post">
                            {% csrf_token %}
                            {% if message %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="username" class="form-label text-dark">نام کاربری</label>
                                <input type="text" class="form-control" id="username" name="username" dir="ltr">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label text-dark">رمز عبور</label>
                                <div class="input-group" dir="ltr">
                                    <input type="password" class="form-control" aria-describedby="addon-password"
                                        id="password" name="password">
                                    <span class="togglePassword input-group-text" id="addon-password">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                            <path
                                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">ورود</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}